run = ["npm", "run", "start"]
[deployment]
run = ["npm", "run", "build", "npm", "run", "start"]

[nix]
channel = "stable-23_11"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37539
externalPort = 3000

[env]
PORT = "5000"